html {
  scroll-behavior: smooth;
}
body {
  background: rgb(229, 142, 38);
  background: linear-gradient(
    180deg,
    rgba(229, 142, 38, 0.05336426914153136) 0%,
    rgba(7, 153, 146, 0.6774941995359629) 98%
  );
}

.bg-specific {
  background-color: white !important;
}

.bg-title {
  background-color: #079992 !important;
  color: white !important;
}

.img-linked-in-logo {
  width: 50px !important;
}

#stack-anchor {
  height: 56px;
  display: none;
}

.no-padding-specific {
  padding-right: 0 !important;
  padding-left: 0 !important;
  margin-right: auto !important;
  margin-left: auto !important;
}

.list-group-item {
  width: 150px !important;
}

.title-li-frontend {
  background-color: #079992 !important;
  color: white !important;
}
.title-li-backend {
  background-color: #079992 !important;
  color: white !important;
}

.container-listgroups {
  display: flex !important;
  justify-content: space-evenly !important;
  align-items: flex-start !important;
}

/* anchor */

.anchor {
  scroll-margin-top: 46px;
}

.no-gutter {
  --bs-gutter-x: 0rem !important;
}
