html {
  scroll-behavior: smooth;
  font-family: "Quicksand", sans-serif;
}
body {
  background: none !important;
}

.bg-specific {
  background-color: white !important;
  border-bottom: 1px solid rgb(252, 232, 52) !important;
}

.bg-title {
  color: black !important;
  border-top: 1px solid rgb(252, 232, 52) !important;
  border-bottom: 1px solid rgb(252, 232, 52) !important;
}

.overcolor {
  font-weight: bold !important;
}

.img-linked-in-logo {
  width: 30px !important;
}

#stack-anchor {
  height: 56px;
  display: none;
}

.no-padding-specific {
  padding-right: 0 !important;
  padding-left: 0 !important;
  margin-right: auto !important;
  margin-left: auto !important;
}

.list-group-item {
  width: 150px !important;
}

.title-li-frontend {
  background-color: rgb(252, 232, 52) !important;
  color: black !important;
}
.title-li-backend {
  background-color: rgb(252, 232, 52) !important;
  color: black !important;
}

.container-listgroups {
  display: flex !important;
  justify-content: space-evenly !important;
  align-items: flex-start !important;
}

/* anchor */

.anchor {
  scroll-margin-top: 46px;
}

.no-gutter {
  --bs-gutter-x: 0rem !important;
}

/* hover */

.navbar-brand:hover {
  background-color: rgb(252, 232, 52) !important;
}
